.article_block {
    .article_block__breadcrumb {
        background-color: #fff;
        color: #878787;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.4px;
        margin-left: -20px;

        li a{
            color: #878787;
        }
        li:before {
            content: "< ";
            padding: 0 5px;
            color: #878787;
        }
    }
}

.article_block__title {
	    margin-top: 0px;
    font-size: 27px;
    padding-bottom: 24px;
    border-bottom: 1px solid #dadada;

}

.article_block__text {
text-align: left;
    margin-top: 62px;
    line-height: 17px;
    letter-spacing: 0.2px;


}
.article_block__img{
	width: 100%;
}

