.bnt_more{
	color: #000;
	border: 1px solid #000;
	padding: 10px 20px;
	font-size: 14px;
	border-radius: 0px;
	margin: 7px 0px;
}
.bnt_input{
	color: #000;
	background: #fff; 
	border-radius: 0px;
	    padding: 11px 14px 9px 11px;
   float: right;
    font-size: 13px;
    text-transform: uppercase;
     margin-right: 12px;
    &:hover {
    	background: #000;
    	color: #fff;
    	border: 1px solid #fff;
    }
}