.wrap_block{
	overflow: hidden;
}

.wrap_block--mid{
	border-left: 1px solid #dadada;
	border-right: 1px solid #dadada;
	padding-left: 30px;
    padding-right: 15px;

}

.hr_black{
	border-top: 1px solid #000;
	margin-top: 0px;
	margin-bottom: 0px;
}
.mb-8{
	    margin-bottom: 8px;
}
.mr-16{
	    margin-right: 16px;
}
.sm-mb-19{
	 @media (max-width: $screen-sm-min) { 
                margin-bottom: -19px;
               

			 }
     @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { margin-bottom: 0px; } 
}

.icon-bar{
	background: #000;

}
.navbar-toggle{
	border: 1px solid #000;
	border-radius: 0px;
}
.mb-0{
	margin-bottom: 0px;
}
.mt-6{
	margin-top: 6px;
}
.mt-15{
	margin-top: 15px;
}
.mt-30{
	margin-top: 30px;
}
.mt-38{
	margin-top: 38px;
}
.mt-42{
	margin-top: 42px;
}
.mt-90{
	margin-top: 90px;
	 @media (max-width: $screen-sm-min) { 
                margin-top: 10px; 
			 }
}
.pl-0{
	// padding-left: 0px;
	@media (max-width: $screen-sm-min) { 
                padding-left:15px  ;  
			 }
		
}
.pl-xs-0{
	padding-left: 0px;
}

.pl-15{
	padding-left: 15px;
}
.mb-20{
	margin-bottom: 20px;
}
.mt-2{
	margin-top: 2px;
}
.ml-18{
	margin-left: 18px;
	 @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { margin-left: 0px;} 
	 @media (min-width: $screen-md-min) and (max-width: $screen-md-max) { margin-left: 0px;} 
} 
.mt-13{
	margin-top: 13px;
}
.mr--15{
	margin-right: -15px;
}
.ml-15{
	margin-left: 15px;
}
.mr-15{
	margin-right: 15px;
}
.plr-23{
	padding-left: 23px;
    padding-right: 23px;
}
.pr-30{
	padding-right: 30px;
}
.mb--15{
	margin-bottom: -15px;
}
.ml--30-xs{
	@media (max-width: $screen-sm-min) { 
             margin-left: -30px;
			 }
	
}
.ml-15-xs{
	@media (max-width: $screen-sm-min) { 
             margin-left: 15px;
			 }
}
.ml-0{
	margin-left: 0px;
}
.ml--0-xs{
	@media (max-width: $screen-sm-min) { 
             margin-left: 0px !important;
			 }
}