.wrap_block--mid{
	border-left: 1px solid #dadada;
	border-right: 1px solid #dadada;
	padding-left: 30px;
	padding-right: 0px;

}

.hr_black{
	border-top: 1px solid #000;
	margin-top: 0px;
	margin-bottom: 0px;
}
.mb-8{
	    margin-bottom: 8px;
}
.mr-45{
	    margin-right: 45px;
}
.sm-mb-19{
	 @media (max-width: $screen-sm-min) { 
                margin-bottom: -19px;
               

			 }
     @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { margin-bottom: 0px; } 
}

.icon-bar{
	background: #000;

}
.navbar-toggle{
	border: 1px solid #000;
	border-radius: 0px;
}
.mb-0{
	margin-bottom: 0px;
}
.mt-6{
	margin-top: 6px;
}
.mt-15{
	margin-top: 15px;
}
.mt-42{
	margin-top: 42px;
}
.pl-0{
	padding-left: 0px;
}
.mb-20{
	margin-bottom: 20px;
}
.mt-2{
	margin-top: 2px;
}
.ml-18{
	margin-left: 18px;
} 
.mt-13{
	margin-top: 13px;
}
.mr--15{
	margin-right: -15px;
}
.ml-15{
	margin-left: 15px;
}
.plr-23{
	padding-left: 23px;
    padding-right: 23px;
}