.footer_block {
    background: #000;
    padding-top: 25px;
    padding-bottom: 20px;
    .footer_block__menu {
        padding-top: 8px;
        padding-left: 0px;
        li {
            display: inline-block;
            margin-right: 58px;
            @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                margin-right: 10px;
            }
            a {
                font-size: 14px;
                padding-left: 0px;
                color: #fff;
                letter-spacing: 0.4px;
                text-decoration: none;
                &:hover {
                    color: #009fe3;
                }
            }
        }
    }
    .footer_block__input {
        display: inline-block;
        border: 1px solid #fff;
        margin-left: 33px;
        @media (max-width: $screen-sm-min) {
            margin-left: 0px;
            width: 80%;
        }
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            margin-left: 0px;
            width: 80%;
        }
        @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            margin-left: -20px;
        }
    }
    .footer_block__input__form-control {
        background: #000;
        padding: 19px 0px 17px 5px;
        text-transform: uppercase;
        font-size: 13px;
        color: #fff;
    }
    .footer_block__text {
        color: #fffffe;
        font-size: 14px;
        text-align: left;
        line-height: 18px;
        letter-spacing: 0.2px;
        @media (max-width: $screen-sm-min) {
            font-size: 10px;
            text-align: justify;
        }
    }
}

.mindscan_logo {
    display: inline-block !important;
    height: 63px;
    background: url('../images/mindscan_logo.png') no-repeat top left;
    background-size: contain;
    width: 69px;
    @media (max-width: $screen-sm-min) {
        width: 50px;
    }
}

.footer_block__social {
    margin-left: 110px;
    @media (max-width: $screen-sm-min) {
        margin-left: 0px;
    }
    .footer_block__social__list {
        list-style: none;
        @media (max-width: $screen-sm-min) {
            padding-left: 0px;
        }
    }
    .footer_block__social__item {
        display: inline-block;
        background: #fff;
        border-radius: 50%;
        padding: 1px 8px 3px 3px;
        text-align: center;
        margin-right: 5px;
        @media (max-width: $screen-sm-min) {
            margin-right: 3px;
            margin-bottom: 10px;
        }
        a {
            display: inline-block;
            color: #000;
            font-size: 30px;
            min-width: 36px;
            min-height: 43px;
        }
    }
}

.footer_block__text--addres {
    color: #fffffe;
    font-size: 14px;
    font-size: 14px;
    letter-spacing: 0.8px;
    a {
        color: #fffffe;
        font-size: 14px;
        font-size: 14px;
        letter-spacing: 0.8px;
    }
    @media (max-width: $screen-sm-min) {
        text-align: center !important;
    }
}
