.headermenu{ 
	margin-top: 34px;
	background: #fff;
	
    .headermenu__navbar-header{
    	float: none;
    }
	.nav>li>a:focus, .nav>li>a:hover{
		background-color: transparent;
	}
	&__collapse{
      padding-left: 0px;
	}
	&__collapse__menulist{
		li{   
		    background: transparent; 
			&:focus{
				background: transparent;
			}
              &:hover{
              	background: transparent;
              }

			    margin-right: 41px;
			a{
				padding-left: 0px;
                font-size: 16px;
               
                color: #000;
                &:hover {
				background: transparent;
				color: #009fe3;
				 
			}
			@media (max-width: $screen-sm-min) { 
                
                    padding-left: 30px;

			      }
			}
			@media (max-width: $screen-sm-min) { 
                 margin-right: 10px  ;  
			 }
			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {  margin-right: 10px  ;  } 
		}
	}
	&__collapse__menulist--right{
		li{
			a{
				padding-right: 0px;
                font-size: 16px;
                
                color: #878787;
            &:hover{
				background: transparent;
				color: #009fe3;
			}
			}

		}
	}
	&__bbalogopos{
	margin-right: 44px;
    margin-top: -13px;
	}
}
.menulogo{
    display: inline-block !important;
    height: 30px;
    background: url('../images/cityindex_logo.svg') no-repeat top left; 
    background-size: contain;
    width: 210px;
    @media (max-width: $screen-sm-min) { 
                
               width: 160px;

			 }
        
	}
.logobba{
	display: inline-block !important;
    height: 64px;
    background: url('../images/BBA_logo.png') no-repeat top left; 
    background-size: contain;
    width: 64px;
     @media (max-width: $screen-sm-min) { 
                
               width: 50px;

			 }	
}

