.infoblock--big{
	.title{
		color: #000;
		font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.3px;
	}

	.sub-description{
       color: #000;
       font-size: 14px;
       .sub-descriptio__more{
       	  color: #009fe3;
       }
	}
} 
.infoblock--main{

}
.infoblock{
.infoblock__date{
	font-size: 12px;
   color: #000;
}}