.infoblock--big {
    padding-top: 0px !important;
    .title--big {
        color: #000;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 0.3px;
    }
    .sub-description {
        color: #000;
        font-size: 14px;
        line-height: 18px;
        text-align: justify;
        .sub-descriptio__more {
            color: #009fe3;
        }
    }
}

.infoblock--main {}

.infoblock {
    border-bottom: 1px solid #dadada;
    padding-bottom: 10px;
    padding-top: 25px;
    margin-right: 15px;
    .title {
        margin-top: 27px;
        color: #000;
        font-size: 18px;
        line-height: 22px;
        min-height: 74px;
    }
    .infoblock__date {
        font-size: 12px;
        color: #000;
        letter-spacing: 0.6px;
    }
    .infoblock__type {
        color: #878787;
        font-size: 13px;
        margin-top: 3px;
        text-transform: uppercase;
    }
    .infoblock__img {
        width: 100%;
    }
}

.infoblock__block_img {
    padding-right: 16px;
    padding-left: 21px;
    padding-top: 5px;
}

.infoblock--bt {
    border-top: 1px solid #dadada;
}
.infoblock-nbb{
	border-color: transparent; 
}

.infoblock--smal {
    padding-top: 25px;
    padding-bottom: 16px;
    .title--smal {
        color: #000;
        font-size: 15px;
        margin-top: 6px;
    }
}

.infoblock--interactiv{
	border-bottom: 1px solid #dadada;
	padding-bottom: 20px;
	.infoblock--interactiv__title{
           color: #000;
           font-size: 20px;
           margin-top: 22px;
           min-height: 50px;
	}
	.infoblock--interactiv__date{
        color: #878787;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 0.1px;
	}
}