.infoblock--reiting_table{ 

     .table-responsive{
     	color: #000;
     	border: 1px solid #dadada;
     	.head_table{
         color: #878787;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 0.1px;
        border-top-color: transparent;
        .partlogo{
        	    margin-left: 1px;
                   margin-right: 15px;

        }
     	}
       td{  
       	border-top-color: transparent;
       	    padding-top: 5px;
            font-size: 13px;
                padding-bottom: 12px;
                    padding-left: 14px;
       }
       tr{
       	  &:hover{
       	  	background: #f5c33c;
       	  	cursor: pointer;
       	  }
       }


     }
    




}

.table_tringl{
	display: inline-block;
	background: url(../images/table_tringl.png);
	width:10px;
	height: 10px;
	background-size: cover;
	     margin-left: 33px;
    margin-right: 9px; 
}